html, body {
	font-family: 'Titillium Web', sans-serif;
	height: 100%;
	width: 100%;

}

body {
	display: box;
}

h3 {
	color: #446688;
	font-size: 16px;
	font-weight: 300;
}

#navigation {
	position: fixed;
	width: 100%;
	z-index: 99;
	color: #fff;
	font-weight: 200;
}

.nav-buttons {
	float: right;
}

.nav-buttons a {
	margin-left: 20px;
	text-decoration: none;
}

.nav-title {
	float: left;
}

.nav-top {
	background: none;
	padding: 5px 0px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	transition: 0.5s ease;
}

.nav-scroll {
	font-size: 13px;
	padding: 3px 0px;
	transition: 0.5s ease;
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	background-color: #446688;
}

.contact-icon {
	position: relative;
	display: inline-block;
	transition: 4s ease;
}

.contact-icon i:hover {
	position: relative;
	top: 3px;
	transition: 4s ease;
}

.contact-icon a {
	text-decoration: none;
	color: #fff;
	transition: 1s ease;
}

.contact-icon a:hover {
	text-decoration: none;
	color: #fff;
	transition: 1s ease;
}

.contact-icon i {
	width: 20px;
}

#navigation a {
	color: #fff;
}

#main-header {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: -webkit-linear-gradient(#446688, #29A3A3);
    background: -o-linear-gradient(#446688, #29A3A3);
    background: -moz-linear-gradient(#446688, #29A3A3);
    background: linear-gradient(#446688, #29A3A3);
}

.header-info {
	font-weight: 300;
	margin-top: 20px;
	width: 500px;
	text-align: center;
}

#header-name {
	font-weight: 700;
	font-size: 80px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#header-title {
	font-weight: 300;
	font-size: 20px;
	color: #eee;
}

#header-summary {
	margin-top: 30px;
	font-weight: 200;
	font-size: 16px;
}

#profile-pic {
	width: 150px;
	border-radius: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid #fff;
}

#summary-div {
	padding-top: 50px;
	padding-bottom: 50px;
}

.summary {
	text-align: center;
}

.summary-title {
	color: #29A3A3;
	font-size: 20px;
	font-weight: 700;
}

.summary-title-color {
	color: #446688;
	font-size: 20px;
	font-weight: 700;
}

#projects-div {
	padding-top: 30px;
	padding-bottom: 100px;
	background: #eee;
	color: #444;
}

#projects-div-title {
	font-size: 30px;
	font-weight: 700;
	color: #446688;
	margin-bottom: 40px;
	text-shadow: 1px 1px 50px #fff;
}

.projects-div-title-color {
	color: #29A3A3;
}

.projects-div-subtext {
	font-size: 15px;
	font-weight: 500;
}

.project-div {
	padding-bottom: 30px;
}

.project {
	height: 300px;
	border-radius: 3px;
	box-shadow: 1px 1px 5px #aaa;
}

.project-title {
	margin-top: -15px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	text-shadow: 1px 1px 8px rgba(0,0,0,0.9);
}

.project-subtitle {
	font-size: 25px;
	font-weight: 300;
}

#summary2-div {
	text-align: center;
	padding: 50px 0px;
}

#design-div {
	padding-top: 30px;
	padding-bottom: 100px;
	background: #eee;
	color: #444;
}

#slides {
	border-radius: 10px;
}

.design-image {
	height: 350px;
	margin: 5px;
}

.skill {
	font-weight: 300;
	box-shadow: 1px 1px 5px #eee;
}

#contact {
	background: #fff;
}